<div class='container table-responsive' style='min-height: 50vh;'>
  <table class='table table-hover'>
    <thead>
      <h1 class='text-center'>Invoice</h1>
    </thead>
    <tbody>
      <tr class='table-primary'>
        <th scope='row'>Transcation ID</th>
        <td id='tid'>{{TID}}</td>
      </tr>
      <tr class='table-secondary'>
        <th scope='row'>Passenger name</th>
        <td id='passengername'>{{Name}}</td>
      </tr>
      <tr class='table-primary'>
        <th scope='row'>Date</th>
        <td id='date'>{{{dateFormat 'LL' timeStamp}}}</td>
      </tr>
      <tr class='table-secondary'>
        <th scope='row'>Time</th>
        <td id='time'>{{{dateFormat 'LT' timeStamp}}}</td>
      </tr>
      <tr class='table-primary'>
        <th scope='row'>Boarding point</th>
        <td id='bpoint'>{{source}}</td>
      </tr>
      <tr class='table-secondary'>
        <th scope='row'>Destination point</th>
        <td id='dpoint'>{{destination}}</td>
      </tr>
    </tbody>
  </table><br />
  <h1>Total Fare = Rs.</h1>{{fare}}<h1 id='fare'></h1>
</div>